@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        padding: 0;
        height: 90vh; /*add this to fill the screen*/
        background-image: url("https://www.scientific-computing.com/sites/default/files/styles/large/public/content/news-story/lead-image/Quardiashutterstock_1541208482.jpg?itok=NYnz0bj6")
    }
</style>
    <div class="jumbotron" style="background-color: transparent;color:wheat" >
        <h1>
            Computers are fascinating....Do u want to explore the world just sitting in a corner .....U are at the right place. This website gives u the best available laptops and can deliver it to ur home
            Enjoy shopping
        </h1>
    </div>